.header-nav__list{
    background-color: #000;
}
.header{
    background-image: url('../../assets/img/achievement/header.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 10%;
    height: 100vh;
    color: var(--white-color);
    position: relative;
}
.header-text{
    position: absolute;
    left: 10%;
    bottom: 4%;
    text-align: center;
}
.header-name{
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}
.header-des{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
}
/* ACHIEVEMENT DETAIL */
.achievement-detail{
    background-color: var(--grey-color);
    font-size: 1.6rem;
    line-height: 3rem;
    color: #000;
    padding: 5rem 3rem;
}
.achievement-detail__text{
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}
/* ACHIEVEMENT SALES */
.sales{
    display: flex;

}
.sales__text{
    flex: 0 0 55%;
    background-color: #000;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sales__text p{
    text-align: justify;
    width: 70%;
    font-size: 1.6rem;
    line-height: 3rem;
}
.sales__img{
    background-color: #000;
    flex: 0 0 45%;
    width: 45%;
    object-fit: contain;
}
.reputation{
    display: flex;
}
.reputation__text{
    flex: 0 0 50%;
}
.reputation__img{
    flex: 0 0 50%;
    width: 50%;
    object-fit: contain;
}
.reputation__text{
    flex: 0 0 50%;
    background-color: var(--grey-color);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reputation__text p{
    text-align: justify;
    width: 70%;
    font-size: 1.6rem;
    line-height: 3rem;
}